<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315725105899-ovgtcg80m0f6aaf2gte5uat2s64864dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315725105899-ovgtcg80m0f6aaf2gte5uat2s64864dn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315725105899-pvhjjslfdqmmunumrh74fgim6d0s1rm4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG6BseN2wrUT1IVWQNIwfZKiej6qqHs3g</string>
	<key>GCM_SENDER_ID</key>
	<string>315725105899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalNote</string>
	<key>PROJECT_ID</key>
	<string>digital-note-f9700</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-note-f9700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315725105899:ios:ce1611eb1e73a438660cae</string>
</dict>
</plist>